<% include partials/header %>

<div class="container-fluid" ID="About">
    <div class="row">
        <div class="col-sm-12 AboutTitle">
             <h1>.:: About ::.</h1>
        </div>
        <div class="col-xs-2 col-sm-3 col-md-3 col-lg-2" ID="LapBlock">
            <img class="animate-reveal" ID="AstroImg" src="/static/images/me4.jpg">
            <img class="animate-reveal" ID="AstroImg2" src="/static/images/me7.jpg">
            <p class="StatText">
                    <hr>
                    <em>The man in all his glory</em>
                </p>
            <img class="animate-reveal" ID="LapImg" src="/static/images/sideimg.jpeg">
                <p class="StatText">
                    <hr>
                    <em>My Amazing Mobile Setup</em>
                </p>
        </div>
        <div class="col-sm-9 col-md-9 col-lg-10">
            <hr>
            <h2><em>NAME </em>:: Jordon Buchanan</h2>
            <h2><em>AGE </em>:: 27</h2>
            <h2><em>LOCALE </em>:: West Chicago IL.</h2>
            <hr>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 AboutText">
                        <h2 class="HAbout">.:: Space Man ::.</h2><br><br>
                    <p>My name is Jordon Buchanan and I am a Full Stack Developer and Programmer(as you can tell from my title!). I am a person who is in a constant quest for more programming knowledge. If it exists, i want to know it and atleast come close to mastering it. 
                    When it comes to web developing my skills range from HTML5 to Angular4 with alot inbetween. Although there is still alot to learn, Im able to pick anything that may be required with ample enough time. Alot of qualities I pride myself on are patience, 
                    organization, determination, pragmatism, analytics, and always being positive. My strive for logic is one of the main reasons I've been drawn to programming
                    ... and well to be creative too!</p>
                </div>
                <div class="col-sm-12 AboutText">
                    <h2 class="HAbout">.:: Backstory ::.</h2><br><br>
                    <p>I got into the world of designing websites around the age of 12; starting with the old Angelfire
                        and Tripod site creators. I'm sure a few are still around(but they are really bad looking if I recall!).
                        It was those sites that introduced me to HTML. It wasn't until Dreamweaver 8's release that I really upped my game and created things for my friends and fellow online acquaintances.
                        I began making sites for various games I liked but I really peaked when I made skins for the message boards I frequente.
                        It was from that I learned and honed my knowledge of CSS. To make them even better, this is when I began to turn to javascript.
                    </p>
                    <p class="Hbottom">For years I did this until College rolled around. Unbeknowst to me currently, I dropped my walk into the world of web developing. I cant remember
                        why exactly. It wasnt until a year ago I decided to pick up where I had left off. Luckily for me, my old knowledge came back 
                        rather quickly but man there was so much to catch up on(I knew I would be a fossil coming back). Been coding almost all day every day since.
                    </p>
                    </div>
                <div class="col-sm-12 AboutText">
                    <h2 class="HAbout">..:: Hobbies ::.</h2>
                    <ul ID="Hobbies">
                        <li>
                        Star Wars/Star Trek
                        </li>
                        <li>
                        Astrophysics, futurism, AI
                        </li>
                        <li>
                        Football & Hockey
                        </li>
                        <li>
                        Massive History Buff
                        </li>
                        <li>
                        Anything and Everything Music
                        </li>
                    </ul>

                </div>
                </div>
                </div>
                </div>
                </div>
                </div>
            </div>        
                </div>
            </div>
</div>

<% include partials/footer %>