<% include partials/header %>
<div class="container introLogins">
    <div class="row">
        <div class="col-md-6 col-sm-12 Intro">
            <h1><em>Histora</em></h1>
            <p class="loginsP">
                    A social media platform for all individuals who love history and any historical contexts
                </p>
        </div>
        <div class="col-md-6 col-sm-12 logins">
            <form action="/login" method="POST">
                <div class="form-group">
                    <label>Username</label>
                    <input class="form-control" type="text" name="username" placeholder="Enter Username">
                </div>
                <div class="form-group">
                    <label>Password</label>
                    <input class="form-control" type="password" name="password" placeholder="Enter Password">
                </div>
                <button class="myBtnAlt2" value="submit">Sign In</button>
            </form>
            <p>Don't Have An Account? <a class="regA" data-toggle="modal" data-target="#RegisterModal">Sign up!</a></p>
            <div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="RegisterModal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="RegisterTitle">Sign Up To Histora!</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                            <form action="/register" method="POST">
                                <div class="form-group">
                                    <label>Username*</label>
                                    <input type="text" class="form-control" name="username" required>
                                </div>
                                <div class="form-group">
                                    <label>Password*</label>
                                    <input type="password" class="form-control" name="password" required>
                                </div>
                                <div class="form-group">
                                    <label>Email*</label>
                                    <input type="email" class="form-control" name="email" required>
                                </div>
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input type="text" class="form-control" name="firstName">
                                </div>
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input type="text" class="form-control" name="lastName">
                                </div>
                                <div class="form-group">
                                    <label>Website</label>
                                    <input type="text" class="form-control" name="website">
                                </div>
                                <!-- <div class="form-group">
                                    <input type="text" class="form-control" name="adminCode" placeholder="adminCode">
                                </div> -->
                                <div class="form-group">
                                    <label>Biography</label>
                                    <input type="textarea" class="form-control" name="biography">
                                </div>
                                <small>*=denotes required fields</small>
                                <div class="modal-footer">
                                    <button class="myBtnAlt2">Register</button>
                                </div>                            
                            </form>
                        </div>
                    </div>
                    </div>
                </div>
            </div>
        </div>
</div>
<% include partials/footer %>