<% include partials/header %>
<div class="container">
    <div class="row">
        <div class="col-sm-12 Intro">
            <h1><em>Histora</em></h1><hr>
        </div>
        <div class="col-m-12 logins">
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#RegisterModal">Register</button>
            <div class="modal fade" id="RegisterModal" tabindex="-1" role="dialog" aria-labelledby="RegisterModal" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                        <h5 class="modal-title" id="RegisterTitle">Register to Histora</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                        </div>
                        <div class="modal-body">
                        Register Options
                        </div>
                        <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="button" class="btn btn-primary">Register</button>
                        </div>
                    </div>
                    </div>
                </div>
          <button type="button" class="btn btn-default" data-toggle="modal" data-target="#SignInModal"><i class="fa fa-user-circle" aria-hidden="true"></i> Sign In</button>
            <div class="modal fade" id="SignInModal" tabindex="-1" role="dialog" aria-labelledby="SignInModal" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="SignInModalTitle">Sign into Histora</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                    </div>
                    <div class="modal-body">
                    Sign In Options
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Sign In</button>
                    </div>
                </div>
                </div>
            </div>
            </div>
        </div>
</div>
<% include partials/footer %>