<% include partials/header %>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12" ID="SkillsTitle">
            <h1>.:: Skills ::.</h1>
        <div class="col-sm-12 Skillz">
            <h2>.:: Core ::.</h2><hr>
            <div class="container">
                <div class="row">
                    <div class="col-sm-3 SkillCell">
                        <img class="animate-reveal SkillImgC SkillPop" 
                        data-toggle="popover" 
                        data-placement="bottom" 
                        title="HTML5" 
                        data-content="The very computer language I have ever learned at a very young age. Can use every aspect of it." 
                        src="/static/images/html.png">
                    </div>
                    <div class="col-sm-3 SkillCell">
                        <img class="animate-reveal SkillImgC SkillPop" 
                        data-toggle="popover" 
                        data-placement="bottom" 
                        title="CSS3" 
                        data-content="Very well knowledgable in CSS and even it's Flexbox and animations."  
                        src="/static/images/css.png">
                    </div>
                    <div class="col-sm-3 SkillCell">
                        <img class="animate-reveal SkillImgC SkillPop" 
                        data-toggle="popover" 
                        data-placement="bottom" 
                        title="Javascript" 
                        data-content="I'm not one of those Devs that have simply focused on jQuery, I sometimes prefer to use vanilla 
                        Javascript over that library. Im well versed in the pseudo language and even though I like jQuery, i can write it vanilla as well.
                         I am also familar with ES15, 16, and 17!" 
                        src="/static/images/javalogo.png">
                    </div>
                    <div class="col-sm-3 SkillCell">
                        <img class="animate-reveal SkillImgC SkillPop" 
                        data-toggle="popover" 
                        data-placement="bottom" 
                        title="Python3" 
                        data-content="The complete programming language I have learned. I have utlized Python in many things from day-to-day automations
                        to even using Pygame." 
                        src="/static/images/python.png">
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 Skillz">
            <h2 class="HCon">.:: Frameworks ::.</h2><hr>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-2 SkillCell">
                            <img class="animate-reveal SkillImg SkillPop" 
                            data-toggle="popover" 
                            data-placement="bottom" 
                            title="Angular" 
                            data-content="I'm pretty versed in Angular. I'm hoping to to launch the site I'm currently using it on 
                            soon. Theres still more to learn about it but I have been focusing on it as a priority daily." 
                            src="/static/images/angular.png">
                        </div>
                        <div class="col-sm-2 SkillCell">
                            <img class="animate-reveal SkillImg SkillPop" 
                            data-toggle="popover" 
                            data-placement="bottom" 
                            title="React" 
                            data-content="The latest I've familarized myself with. Still a work in progress but I have gotten accustomed
                            to it's syntax and flow. Though so far i do prefer Angular."  
                            src="/static/images/react.png">
                        </div>
                        <div class="col-sm-2 SkillCell">
                            <img class="animate-reveal SkillImg SkillPop" 
                            data-toggle="popover" 
                            data-placement="bottom" 
                            title="Express" 
                            data-content="My main framework in NodeJs and creating a web site/app in Javascript. Love every second of using this
                            and considered my strongest framework." 
                            src="/static/images/express.png">
                        </div>
                        <div class="col-sm-2 SkillCell">
                            <img class="animate-reveal SkillImg SkillPop" 
                            data-toggle="popover" 
                            data-placement="bottom" 
                            title="Django" 
                            data-content="The first framework I've become versed in and my preference when using Python to code a web site/app. I think
                            its alot better than some circles think it is." 
                            src="/static/images/django.png">
                        </div>
                        <div class="col-sm-2 SkillCell">
                            <img class="animate-reveal SkillImg SkillPop" 
                            data-toggle="popover" 
                            data-placement="bottom" 
                            title="Flask" 
                            data-content="A secondary framework I seldom use to create a web site/app. Although not preferred, I can use it well." 
                            src="/static/images/flask.png">
                        </div>
                        <div class="col-sm-2 SkillCell">
                            <img class="animate-reveal SkillImg SkillPop" 
                            data-toggle="popover" 
                            data-placement="bottom" 
                            title="Bootstrap4" 
                            data-content="Well versed in the framework Bootstrap4 and even 3. Most of my sites utilize this
                            with the exception of a few using the CSS flexbox or Semantic UI for variety. Just so used to it's ease!" 
                            src="/static/images/bootstrap.png">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 Skillz">
            <h2>.:: Databases ::.</h2><hr>
            <div class="container">
                    <div class="row">
                        <div class="col-sm-6 SkillCell">
                            <img class="animate-reveal SkillImgC SkillPop" 
                            data-toggle="popover" 
                            data-placement="bottom" 
                            title="MongoDB" 
                            data-content="The primary database I use for NodeJs as well as knowledge to utlize MongoLab." 
                            src="/static/images/mongodb.png">
                        </div>
                        <div class="col-sm-6 SkillCell">
                            <img class="animate-reveal SkillImgLR SkillPop" 
                            data-toggle="popover" 
                            data-placement="bottom" 
                            title="SQLite" 
                            data-content="My preferred database for Python frameworks such as Flask or Django"  
                            src="/static/images/sqlite.png">
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-sm-12 Skillz">
            <h2>.:: Libraries ::.</h2><hr>
            <div class="container">
                    <div class="row">
                        <div class="col-sm-12 SkillCell">
                            <img class="animate-reveal SkillImgLR SkillPop" 
                            ID="jQueryImg" 
                            data-toggle="popover" 
                            data-placement="bottom" 
                            title="jQuery" 
                            data-content="My prefered library for Dom manipulation. I also come with adequate knowledge of jQuery UI" 
                            src="/static/images/jquery.png">
                        </div>
                    </div>
                </div>
        </div>
        <div class="col-sm-12 Skillz">
            <h2>.:: Repo ::.</h2><hr>
            <div class="container">
                    <div class="row">
                        <div class="col-sm-12 SkillCell">
                            <img class="animate-reveal SkillImgLR SkillPop" 
                            ID="GitImg" 
                            data-toggle="popover" 
                            data-placement="bottom" 
                            title="git" 
                            data-content="I utilize git on all my apps(I dont use Github for all though). Im well versed in most of it's commands
                            and can do what is required with it." 
                            src="/static/images/git2.png">
                        </div>
                    </div>
                </div>
        </div>
        </div>
    </div>
</div>

<% include partials/footer %>