body {
    background-color: white;
    color: gray;
    font-family: 'Merriweather', serif;
    height: 100%;
    background-image: url(/static/images/HistoraBG3.png);
    background-position: 50% 50%;
    background-repeat: no-repeat;
    background-attachment: fixed;

}
.myBtn{
    background-color: #69c8ff;
    color: white;
    padding: 10px;
    height: 50px;
    width: 150px;
    letter-spacing:1px;
    border-color: rgba(255,255,255, 0.5);
    cursor: pointer;
}
.myBtn:hover{
    background-color: white;
    color: black;
    transition-duration: .7s;
    border-color: rgba(0,0,0, 0.5);
}
.myBtnAlt2{
    background-color: white;
    color: #69c8ff;
    width: 100%;
    padding: 10px;
    height: 50px;
    letter-spacing:1px;
    border-color: rgba(255,255,255, 0.5);
    cursor: pointer;
    margin-bottom: 5px;
}
.myBtnAlt2:hover{
    background-color: white;
    color: black;
    transition-duration: .7s;
    border-color: rgba(0,0,0, 0.5);
}
.myBtnAlt{
    background: #69c8ff;
    color: white;
    padding: 10px;
    height: 65px;
    letter-spacing:1px;
    border-color:white;
    cursor: pointer;
    width: 300px;
    margin:5px;
}

.myBtnAlt:hover{
    background-color: skyblue;
    color: white;
    transition-duration: .7s;
    border-color: rgba(255,255,255, 0.5);
}
.myBtnSm{
    background-color: #69c8ff;
    color: white;
    height: 30px;
    letter-spacing:1px;
    border-color: rgba(255,255,255, 0.5);
    cursor: pointer;
}
.myBtnSm:hover{
    background-color: white;
    color: black;
    border-color: rgba(0,0,0, 0.5);
    transition-duration: .7s;
}
.regA{
    cursor: pointer;
    border-bottom: 1px solid white;
}
.navbar-dark .navbar-toggler-icon {
    background-image: url(/static/images/burger.png);
}
.Flash{
    margin-top: 55px;
}
.active{
    pointer-events: none;
    cursor: default;
}
.active:after{
    content: '';
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
    background: white;
}
.navbar{
    background: black;
    border-bottom: 1px solid white;
    transition: all 600ms cubic-bezier(0.175, 0.0885, 0.32, 1.275);
    animation: reveal 2s cubic-bezier(0, 1, 0.5, 1) 1 normal forwards;
}
button:focus {
    outline-color: white;
  }
  .navbar-dark .navbar-brand{
      color: white;
  }
.navbar-dark .navbar-nav .nav-link{
    color:white;
}
.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover{
    color: black;
}

a{
    color: white;
}
a:hover{
    color: gray;
    text-decoration: underline;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: gray;
}
.btn-primary:focus,
.btn-primary:active:focus,
.btn-primary:hover{
    background-color: white;
}
.UserA{
    color: rgba(0,0,0,0.8);
}
.UserA:hover{
    text-decoration: none;
    color: rgba(0,0,0,0.5);
}

/* Home */
.introLogins{
    margin: 20% auto 0;
}
.Intro{
    color: white;
    font-family: 'Cinzel Decorative', cursive;
    font-weight: 800;
    text-align: center;
    text-shadow: 0 2px 4px black;
}
h1{
    font-size: 60px;
    letter-spacing: 10px;
}
.logins{
 margin: auto;
 width: 400px;
 color: white;
}
.logins p{
    color: white;
}
.logins input{
    height: 60px;
    width: 100%;
    border-radius: none;
}
.modal-body{
    background: #69c8ff;
    border: 1px solid white;
}
.modal-title{
    color:#69c8ff;
}
hr { 
border : 0;
height: 1px; 
background-image: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.75), rgba(255, 255, 255, 0)); 
max-width: 500px;
}
.hr2{
    border : 0;
    height: 1px; 
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0)); 
    max-width: 500px;
}
.inputThing{
    padding: 10px;
    margin: 5px;
}

/* All.ejs */
#fourohfour{
    margin-top: 100px;
    font-size: 50px;
    color: white;
    text-align: center;
}

/* Forum */
.body{
    color: black;
    padding: 25px;
    /* font-family:; */
}
.forumBG{
    background: white;
}
.card{
    text-align: center;
    font-size: 10px;
    margin-bottom: 20px;
}
.card:hover{
    box-shadow: 0px 0px 18px 0px black;
}
.card-img{
    height: 10.5vw;
    width: 100%;
    object-fit: cover;
    object-position: center;
}
.btn-primary {
    color: white;
    background-color: black;
    border: 1px solid white;
}
.btn-primary:hover{
    color: black;
    background-color: white;
    border: 1px solid black;
}
.btnA:hover{
    color: black;
    text-decoration: none;
}

/* Show */
.Show{
    background-color: rgba(255,255,255);
    color: black;
    padding: 20px;
}
.ShowImg{
    border: 1px solid black;
    margin: 0 auto;
    display: block;
    width: 65vw;
    height: auto;
    max-width: 800px;
}
@media only screen and (max-width: 500px) {
    .ShowImg {
        width: 90vw;
    }
}
.ShowH4{
    padding: 10px;
    text-align: center;
    overflow-wrap: break-word;
}
.ComBreak{
    overflow-wrap: break-word;

}
.TextBox{
    background-color: white;
    padding: 10px;
}
.CommentBlock{
    background-color: rgba(255,255,255,0.9);
    padding: 20px;
    margin: 20px;
}
.ComBorder{
    border-top: 1px solid rgba(0,0,0,0.2);
    margin-top:10px;
    padding: 10px;
}
.pull-right{
    float: right;
    font-size: 12px;
}

.EditDel{
    font-size: 15px;
    display: inline;
}

/* New */
.CreatePage{
    color: white;
    margin-top: 75px;
    text-align: center;
}

/* Profile */
.profileH{
    color: black;
    text-align: center;
    
}
.profileDiv{
    padding: 20px;
    background-color: white;
    color: black;
    box-shadow: 0 0 1px black;
}
.profileBG{
    margin-top: 75px;
    padding: 25px;
}
